extends ./layouts/common 
block headContent
block navbar
 
  h1 Book List
  if user
    if user.isAdmin
      .container.d-flex
        form(action="/" method="POST",enctype="multipart/form-data")
          .form-group
              div
                h2 Create Book
              div
                label(for="asd") Title
                input.form-control#asd(type="text" name="title" required="required")

              div 
                label(for="description") Description
                input.form-control#description(type="text" name="description" required="required")
              div
                label(for="avatar") avatar
                  input#avatar.form-control-file(type="file",name='avatar')
              div  
              button.btn.btn-primary(type="submit") Create

        form.ml-4(action="/update" method="POST")
          .form-group
              div
                h2 Update Title
              div
                label(for="id") ID
                input#id.form-control(type="text" name="id" required="required")

              div 
                label(for="abc") New Title
                input#abc.form-control(type="text" name="title" required="required")

              div  
              button.btn.btn-primary(type="submit") Update
  form(action="/transaction/create", method="POST")
    button.btn.btn-primary(type="submit")
      svg.bi.bi-cart-fill(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z')
      span.badge.badge-light 4
  table.table
    tr
      th Avatar
      th Title
      th Description
      th Action
    each book in list
      tr
        if book.avatar
          td
            img(src='/'+book.avatar,width='30px')
        td= book.title 
        td
          a.btn.btn-primary(data-toggle="collapse" href="#"+ book.id, role="button" aria-expanded="false" aria-controls="collapseExample") description
          div(class="collapse" id= book.id)
            div(class="card card-body")= book.description
        td
          a(href="/" + book.id) view
        if user
          if user.isAdmin
            td
              a(href="/" + book.id + "/delete") delete
        td
          a.btn.btn-primary(href="/cart/add/"+ book.id,style='width:110px') Add to cart
  .nav(aria-label="Page navigation example")
      - var previous = page - 1
      - var next = page + 1
      - var window = 5
      - var maxleft = (page - Math.floor(window / 2))
      - var maxRight = (page + Math.floor(window / 2))
      
      if(maxleft < 1) 
        - maxleft = 1
        - maxRight = window
      
      if(maxRight > maxPage)
        - maxleft = (maxPage - (window - 1))
        - maxRight = maxPage
        if(maxleft < 1) 
          - maxleft = 1
          
      ul.pagination.justify-content-center
        - var currPage = maxleft
        if(page > 1)
          li.page-item
            a.page-link(href='/book?page='+ previous) <<
        while currPage <= maxRight
          li.page-item
            a.page-link(href='/book?page='+ currPage)= currPage
            - currPage = currPage + 1 
        if(next <= maxPage)
          li.page-item
            a.page-link(href='/book?page='+ next) >>
        
            
              
            
          
            
  
  
        

  a(href="/" class="btn btn-primary" role="button") Menu List

    